body {
  background-color: #4CB5E2; }

header {
  display: flex;
  justify-content: space-between; }
  header .cart-icon, header .home-icon {
    font-size: 30px;
    margin-left: 25px;
    cursor: pointer; }
  header .cart-icon, header .home-icon {
    vertical-align: middle;
    -webkit-transform: perspective(4px) translateZ(0);
    transform: perspective(6px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    cursor: pointer; }
  header .cart-icon:hover, header .home-icon:hover,
  header .cart-icon:focus,
  header .home-icon:focus,
  header .cart-icon:active,
  header .home-icon:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  header .profile-icon {
    font-size: 30px;
    cursor: pointer; }
  header .profile-icon {
    vertical-align: middle;
    -webkit-transform: perspective(4px) translateZ(0);
    transform: perspective(6px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    cursor: pointer; }
  header .profile-icon:hover,
  header .profile-icon:focus,
  header .profile-icon:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  header .home-icon {
    margin-left: 20px;
    margin-top: 10px; }
  header .header-icon-container {
    width: 150px;
    margin-left: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .header-icon-container .btn-shopping-items {
      width: 20px;
      height: 20px;
      background-color: #8F0000;
      color: #FFFFFF;
      border: none;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-right: 35px; }
  header .btn-offcanvas-buy {
    background-color: #8F0000;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 25px;
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid black; }
  header .btn-offcanvas-buy {
    vertical-align: middle;
    -webkit-transform: perspective(4px) translateZ(0);
    transform: perspective(6px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    cursor: pointer; }
  header .btn-offcanvas-buy:hover,
  header .btn-offcanvas-buy:focus,
  header .btn-offcanvas-buy:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  header .btn-logout {
    margin-right: 20px;
    margin-top: 30px; }
  header .btn-logout {
    vertical-align: middle;
    -webkit-transform: perspective(4px) translateZ(0);
    transform: perspective(6px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    cursor: pointer; }
  header .btn-logout:hover,
  header .btn-logout:focus,
  header .btn-logout:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }

a {
  color: inherit;
  text-decoration: none; }

main, .purchase-page-main, .profile-page-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  main .banner-section, .purchase-page-main .banner-section, .profile-page-main .banner-section {
    width: 100%;
    display: flex;
    justify-content: center; }
    main .banner-section .welcome-banner-container, .purchase-page-main .banner-section .welcome-banner-container, .profile-page-main .banner-section .welcome-banner-container {
      background-color: #949292;
      height: 265px;
      width: 92%;
      border: 1px solid black;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center; }
      main .banner-section .welcome-banner-container .welcome-banner, .purchase-page-main .banner-section .welcome-banner-container .welcome-banner, .profile-page-main .banner-section .welcome-banner-container .welcome-banner {
        height: 95%;
        width: 99%;
        background-color: #14CB1C;
        border: 1px solid black;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center; }
        main .banner-section .welcome-banner-container .welcome-banner h1, .purchase-page-main .banner-section .welcome-banner-container .welcome-banner h1, .profile-page-main .banner-section .welcome-banner-container .welcome-banner h1 {
          color: #FFFFFF;
          margin: 0%;
          font-family: "Press Start 2P"; }
        main .banner-section .welcome-banner-container .welcome-banner h2, .purchase-page-main .banner-section .welcome-banner-container .welcome-banner h2, .profile-page-main .banner-section .welcome-banner-container .welcome-banner h2 {
          color: #FFFFFF;
          font-family: "Press Start 2P"; }
        main .banner-section .welcome-banner-container .welcome-banner li, .purchase-page-main .banner-section .welcome-banner-container .welcome-banner li, .profile-page-main .banner-section .welcome-banner-container .welcome-banner li, main .banner-section .welcome-banner-container .welcome-banner p, .purchase-page-main .banner-section .welcome-banner-container .welcome-banner p, .profile-page-main .banner-section .welcome-banner-container .welcome-banner p {
          color: #FFFFFF;
          margin: 0%;
          font-family: "Press Start 2P"; }
      @media screen and (max-width: 622px) {
        main .banner-section .welcome-banner-container, .purchase-page-main .banner-section .welcome-banner-container, .profile-page-main .banner-section .welcome-banner-container {
          text-align: center; } }
    main .banner-section .hidden, .purchase-page-main .banner-section .hidden, .profile-page-main .banner-section .hidden {
      visibility: hidden; }
  main .cards-section, .purchase-page-main .cards-section, .profile-page-main .cards-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: scroll; }
    main .cards-section .card-container, .purchase-page-main .cards-section .card-container, .profile-page-main .cards-section .card-container {
      border: 1px solid black;
      margin-top: 20px;
      border-radius: 10px;
      width: 440px;
      height: 150px;
      background-color: #949292;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      main .cards-section .card-container .joystick-container, .purchase-page-main .cards-section .card-container .joystick-container, .profile-page-main .cards-section .card-container .joystick-container {
        margin-bottom: 8px; }
        main .cards-section .card-container .joystick-container img, .purchase-page-main .cards-section .card-container .joystick-container img, .profile-page-main .cards-section .card-container .joystick-container img {
          margin-bottom: 5px; }
        main .cards-section .card-container .joystick-container p, .purchase-page-main .cards-section .card-container .joystick-container p, .profile-page-main .cards-section .card-container .joystick-container p {
          color: #FFFFFF; }
      main .cards-section .card-container .display-container, .purchase-page-main .cards-section .card-container .display-container, .profile-page-main .cards-section .card-container .display-container {
        width: 70%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; }
        main .cards-section .card-container .display-container .screen-container, .purchase-page-main .cards-section .card-container .display-container .screen-container, .profile-page-main .cards-section .card-container .display-container .screen-container {
          background-color: #14CB1C;
          border: 1px solid black;
          border-radius: 10px;
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center; }
          main .cards-section .card-container .display-container .screen-container h4, .purchase-page-main .cards-section .card-container .display-container .screen-container h4, .profile-page-main .cards-section .card-container .display-container .screen-container h4 {
            font-family: "Press Start 2P";
            color: #FFFFFF; }
      main .cards-section .card-container .button-container, .purchase-page-main .cards-section .card-container .button-container, .profile-page-main .cards-section .card-container .button-container {
        display: flex;
        justify-content: space-around;
        margin-top: 5px; }
        main .cards-section .card-container .button-container .btn-gameCard, .purchase-page-main .cards-section .card-container .button-container .btn-gameCard, .profile-page-main .cards-section .card-container .button-container .btn-gameCard {
          background-color: #8F0000;
          width: 100px;
          height: 40px;
          border: none;
          border-radius: 25px;
          color: #FFFFFF;
          cursor: pointer;
          border: 1px solid black; }
        main .cards-section .card-container .button-container .btn-gameCard, .purchase-page-main .cards-section .card-container .button-container .btn-gameCard, .profile-page-main .cards-section .card-container .button-container .btn-gameCard {
          vertical-align: middle;
          -webkit-transform: perspective(4px) translateZ(0);
          transform: perspective(6px) translateZ(0);
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-property: transform;
          transition-property: transform;
          cursor: pointer; }
        main .cards-section .card-container .button-container .btn-gameCard:hover, .purchase-page-main .cards-section .card-container .button-container .btn-gameCard:hover, .profile-page-main .cards-section .card-container .button-container .btn-gameCard:hover,
        main .cards-section .card-container .button-container .btn-gameCard:focus,
        .purchase-page-main .cards-section .card-container .button-container .btn-gameCard:focus,
        .profile-page-main .cards-section .card-container .button-container .btn-gameCard:focus,
        main .cards-section .card-container .button-container .btn-gameCard:active,
        .purchase-page-main .cards-section .card-container .button-container .btn-gameCard:active,
        .profile-page-main .cards-section .card-container .button-container .btn-gameCard:active {
          -webkit-transform: scale(1.2);
          transform: scale(1.2); }

.forms-section {
  display: flex;
  justify-content: space-evenly; }
  .forms-section .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #949292;
    border-radius: 15px;
    border: 1px solid black;
    width: 300px;
    height: 450px;
    text-align: center; }
    .forms-section .form-container .form-title-container {
      background-color: #14CB1C;
      height: 85px;
      width: 268px;
      border: 1px solid black;
      border-radius: 15px;
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center; }
      .forms-section .form-container .form-title-container h4 {
        font-family: "Press Start 2P";
        color: #FFFFFF; }
    .forms-section .form-container .form {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 70%; }
      .forms-section .form-container .form label {
        color: #FFFFFF; }
      .forms-section .form-container .form input {
        border: 1px solid black;
        background-color: #14CB1C;
        border-radius: 8px;
        color: #FFFFFF; }
      .forms-section .form-container .form .btn-form {
        background-color: #8F0000;
        width: 100px;
        height: 40px;
        border: none;
        border-radius: 25px;
        color: #FFFFFF;
        cursor: pointer;
        border: 1px solid black; }
    .forms-section .form-container .btn-form {
      vertical-align: middle;
      -webkit-transform: perspective(4px) translateZ(0);
      transform: perspective(6px) translateZ(0);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      cursor: pointer; }
    .forms-section .form-container .btn-form:hover,
    .forms-section .form-container .btn-form:focus,
    .forms-section .form-container .btn-form:active {
      -webkit-transform: scale(1.2);
      transform: scale(1.2); }

.purchase-page-main .purchase-card, .profile-page-main .purchase-card {
  background-color: #949292;
  border-radius: 10px;
  border: 1px solid black;
  width: 465px;
  height: 455px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  .purchase-page-main .purchase-card .purchase-card-title, .profile-page-main .purchase-card .purchase-card-title, .purchase-page-main .purchase-card .purchase-card-body, .profile-page-main .purchase-card .purchase-card-body {
    background-color: #14CB1C;
    border-radius: 10px;
    border: 1px solid black;
    width: 90%;
    height: 61px;
    font-family: "Press Start 2P";
    color: #FFFFFF;
    text-align: center; }
  .purchase-page-main .purchase-card .purchase-card-body, .profile-page-main .purchase-card .purchase-card-body {
    height: 234px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .purchase-page-main .purchase-card .purchase-card-body ol, .profile-page-main .purchase-card .purchase-card-body ol {
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 80%; }
    .purchase-page-main .purchase-card .purchase-card-body form, .profile-page-main .purchase-card .purchase-card-body form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
  .purchase-page-main .purchase-card .purchase-card-button-container, .profile-page-main .purchase-card .purchase-card-button-container {
    border-radius: 10px;
    width: 90%;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .purchase-page-main .purchase-card .purchase-card-button-container .btn-purchase, .profile-page-main .purchase-card .purchase-card-button-container .btn-purchase {
      background-color: #8F0000;
      width: 100px;
      height: 40px;
      border: none;
      border-radius: 25px;
      color: #FFFFFF;
      cursor: pointer;
      border: 1px solid black;
      font-family: "Press Start 2P"; }
    .purchase-page-main .purchase-card .purchase-card-button-container .buy-btn, .profile-page-main .purchase-card .purchase-card-button-container .buy-btn {
      vertical-align: middle;
      -webkit-transform: perspective(4px) translateZ(0);
      transform: perspective(6px) translateZ(0);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      cursor: pointer; }
    .purchase-page-main .purchase-card .purchase-card-button-container .buy-btn:hover, .profile-page-main .purchase-card .purchase-card-button-container .buy-btn:hover,
    .purchase-page-main .purchase-card .purchase-card-button-container .buy-btn:focus,
    .profile-page-main .purchase-card .purchase-card-button-container .buy-btn:focus,
    .purchase-page-main .purchase-card .purchase-card-button-container .buy-btn:active,
    .profile-page-main .purchase-card .purchase-card-button-container .buy-btn:active {
      -webkit-transform: scale(1.2);
      transform: scale(1.2); }
    .purchase-page-main .purchase-card .purchase-card-button-container .btn-discount, .profile-page-main .purchase-card .purchase-card-button-container .btn-discount {
      width: 280px; }

.profile-page-main {
  justify-content: end; }

.profile-banner {
  width: 100%;
  display: flex;
  justify-content: center; }
  .profile-banner .welcome-banner-container {
    background-color: #949292;
    height: 150px;
    width: 92%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .profile-banner .welcome-banner-container .welcome-banner {
      height: 95%;
      width: 99%;
      background-color: #14CB1C;
      border: 1px solid black;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center; }
      .profile-banner .welcome-banner-container .welcome-banner h1 {
        color: #FFFFFF;
        margin: 0%;
        font-family: "Press Start 2P"; }
      .profile-banner .welcome-banner-container .welcome-banner h2 {
        color: #FFFFFF;
        font-family: "Press Start 2P"; }
      .profile-banner .welcome-banner-container .welcome-banner li, .profile-banner .welcome-banner-container .welcome-banner p {
        color: #FFFFFF;
        margin: 0%;
        font-family: "Press Start 2P"; }
  .profile-banner .hidden {
    visibility: hidden; }

.profile-data-cards {
  height: 90vh;
  align-items: center; }
  .profile-data-cards .purchase-card {
    height: 90%;
    justify-content: flex-start; }
    .profile-data-cards .purchase-card .purchase-card-title, .profile-data-cards .purchase-page-main .purchase-card .purchase-card-body, .purchase-page-main .profile-data-cards .purchase-card .purchase-card-body, .profile-data-cards .profile-page-main .purchase-card .purchase-card-body, .profile-page-main .profile-data-cards .purchase-card .purchase-card-body {
      width: 90%;
      margin-top: 15px; }
    .profile-data-cards .purchase-card .purchase-card-body {
      height: auto;
      margin-top: 20px;
      height: 80%; }
      .profile-data-cards .purchase-card .purchase-card-body .user-data {
        font-family: "Courier New", Courier, monospace;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: center;
        width: 80%; }
        .profile-data-cards .purchase-card .purchase-card-body .user-data button {
          align-self: center;
          background-color: #8F0000;
          width: 100px;
          height: 40px;
          border: none;
          border-radius: 25px;
          color: #FFFFFF;
          cursor: pointer;
          border: 1px solid black; }
        .profile-data-cards .purchase-card .purchase-card-body .user-data .btn-update-profile {
          vertical-align: middle;
          -webkit-transform: perspective(4px) translateZ(0);
          transform: perspective(6px) translateZ(0);
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-property: transform;
          transition-property: transform;
          cursor: pointer; }
        .profile-data-cards .purchase-card .purchase-card-body .user-data .btn-update-profile:hover,
        .profile-data-cards .purchase-card .purchase-card-body .user-data .btn-update-profile:focus,
        .profile-data-cards .purchase-card .purchase-card-body .user-data .btn-update-profile:active {
          -webkit-transform: scale(1.2);
          transform: scale(1.2); }
      .profile-data-cards .purchase-card .purchase-card-body .edit-user-data {
        height: 150px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center; }
        .profile-data-cards .purchase-card .purchase-card-body .edit-user-data .update-form {
          align-self: center;
          align-items: flex-start; }
          .profile-data-cards .purchase-card .purchase-card-body .edit-user-data .update-form button {
            align-self: center;
            margin-top: 10px;
            background-color: #8F0000;
            width: 100px;
            height: 40px;
            border: none;
            border-radius: 25px;
            color: #FFFFFF;
            cursor: pointer;
            border: 1px solid black; }
          .profile-data-cards .purchase-card .purchase-card-body .edit-user-data .update-form .btn-save-profile {
            vertical-align: middle;
            -webkit-transform: perspective(4px) translateZ(0);
            transform: perspective(6px) translateZ(0);
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            transition-property: transform;
            cursor: pointer; }
          .profile-data-cards .purchase-card .purchase-card-body .edit-user-data .update-form .btn-save-profile:hover,
          .profile-data-cards .purchase-card .purchase-card-body .edit-user-data .update-form .btn-save-profile:focus,
          .profile-data-cards .purchase-card .purchase-card-body .edit-user-data .update-form .btn-save-profile:active {
            -webkit-transform: scale(1.2);
            transform: scale(1.2); }
          .profile-data-cards .purchase-card .purchase-card-body .edit-user-data .update-form input {
            background-color: transparent;
            border: none;
            color: white; }
          .profile-data-cards .purchase-card .purchase-card-body .edit-user-data .update-form label {
            font-family: "Courier New", Courier, monospace;
            text-decoration: underline;
            color: black; }
          .profile-data-cards .purchase-card .purchase-card-body .edit-user-data .update-form input::placeholder {
            font-family: "Courier New", Courier, monospace;
            color: white; }
      .profile-data-cards .purchase-card .purchase-card-body .hidden {
        visibility: hidden; }
    .profile-data-cards .purchase-card .user-purchases {
      align-items: flex-start;
      font-family: "Courier New", Courier, monospace;
      overflow-y: scroll; }
      .profile-data-cards .purchase-card .user-purchases ul {
        text-align: initial; }
      .profile-data-cards .purchase-card .user-purchases hr {
        height: 3px;
        width: 100%;
        background-color: white; }
      .profile-data-cards .purchase-card .user-purchases p {
        margin-left: 5px;
        text-align: start; }

.game-main {
  display: flex; }
  .game-main .data-section {
    background-color: #949292;
    width: 600px;
    height: 55px;
    margin-right: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 1px solid black;
    border-radius: 10px; }
    .game-main .data-section .data-container {
      width: 98%;
      height: 89%;
      background-color: #14CB1C;
      border: 1px solid black;
      border-radius: 10px;
      justify-self: center;
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center; }
      .game-main .data-section .data-container h1 {
        font-family: "Press Start 2P";
        font-size: larger;
        margin-top: 5px;
        color: #FFFFFF; }
  .game-main .game-scoreboard-section {
    display: flex;
    justify-content: space-around; }
    .game-main .game-scoreboard-section .player-data {
      background-color: #949292;
      border: 1px solid black;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 350px;
      height: 200px; }
      .game-main .game-scoreboard-section .player-data .score-banner {
        display: flex;
        justify-content: space-between;
        width: 95%; }
        .game-main .game-scoreboard-section .player-data .score-banner .player-titles {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: flex-start;
          height: 70px; }
          .game-main .game-scoreboard-section .player-data .score-banner .player-titles .title-container {
            background-color: #0529c7;
            text-align: center;
            border-radius: 10px;
            border: 1px solid black; }
          .game-main .game-scoreboard-section .player-data .score-banner .player-titles h4 {
            margin-top: 5px;
            margin-left: 4px;
            color: #FFFFFF;
            font-family: "Press Start 2P";
            font-size: small; }
        .game-main .game-scoreboard-section .player-data .score-banner .player-name-score {
          background-color: #14CB1C;
          height: 70px;
          width: 150px;
          text-align: center;
          border: 1px solid black;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .game-main .game-scoreboard-section .player-data .score-banner .player-name-score h4 {
            color: #FFFFFF;
            font-family: "Press Start 2P";
            font-size: small; }
    .game-main .game-scoreboard-section .game-container canvas {
      border: 1px solid black;
      background-color: #14CB1C; }
    .game-main .game-scoreboard-section .scoreboard-container {
      border: 1px solid black;
      border-radius: 10px;
      background-color: #949292;
      height: 300px;
      width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .game-main .game-scoreboard-section .scoreboard-container .scoreboard-title-container {
        background-color: #0529c7;
        border: 1px solid black;
        border-radius: 10px;
        margin-top: 25px;
        width: 160px;
        height: 45px;
        text-align: center; }
        .game-main .game-scoreboard-section .scoreboard-container .scoreboard-title-container h4 {
          padding-top: 15px;
          color: #FFFFFF;
          font-family: "Press Start 2P";
          font-size: small; }
      .game-main .game-scoreboard-section .scoreboard-container .score-title-container {
        background-color: #14CB1C;
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 20px;
        height: 170px;
        width: 95%; }
        .game-main .game-scoreboard-section .scoreboard-container .score-title-container ol {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          color: #FFFFFF;
          font-family: "Press Start 2P";
          font-size: x-small; }
          .game-main .game-scoreboard-section .scoreboard-container .score-title-container ol li {
            margin-left: 10px; }
