<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Assistant:wght@600&family=Press+Start+2P&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="./css/styles.css">
    <title>Purchase</title>
</head>

<body>
    <main class="purchase-page-main">
        <section class="main-section banner-section">
            <div class="welcome-banner-container">
                <div class="welcome-banner">
                    <div class="complete-purchase">
                        <h1>
                            Complete your Purchase
                        </h1>
                    </div>
                    <div class="purchase-details hidden">
                        <h1>
                            Purchase Details
                        </h1>
                        <ol class="purchase-final-list">

                        </ol>
                        <p class="purchase-discount"></p>
                        <p class="final-amount"></p>
                    </div>

                </div>
            </div>
        </section>
        <section class="cards-section purchase-cards-section">
            <div class="purchase-card">
                <div class="purchase-card-title">
                    <h3>Shopping Cart</h3>
                </div>
                <div class="purchase-card-body">
                    <ol class="purchase-list">

                    </ol>
                </div>
                <div class="purchase-card-button-container">
                    <button class="btn-purchase cart-amount">$</button>
                    <button class="btn-purchase buy-btn">Buy</button>
                </div>
            </div>
            <div class="purchase-card">
                <div class="purchase-card-title">
                    <h3>Discounts</h3>
                </div>
                <div class="purchase-card-body">
                    <form action="" class="discount-list">

                    </form>
                </div>
                <div class="purchase-card-button-container">
                    <button class="btn-purchase btn-discount">Select Discount</button>
                </div>
            </div>
        </section>
    </main>



    <script src="./JS/purchase.js"></script>
    <script src=""></script>
</body>

</html>